<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <p>I am the relational search engine that works like your mind.</p>

    <br />
    <br />

	<div class="row">
		<div class="col-lg-4">

			<form class="form-horizontal" id="query_here" action=''>
			  <fieldset>
				<div class="control-group">
					<div class="controls">
					<input type="text" id="my_query" name="my_query" class="form-control">
					</div>
				</div>
			    
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
					<button type="submit" class="btn btn-success" >Search \m/</button>
					</div>
				</div>
			  </fieldset>
			</form>
		</div>
	</div>

	<div class="row"><h2>Results for <%= searched %></h2></div>
	
	<% for (var i = 0; i < resource.length-1; i++) { %>
	<div class="row">
		<div class="col-lg-6">
			<h3><%= resource[i].Text %></h3>
			→ <a href="<%= resource[i].FirstURL %>"><%= resource[i].FirstURL %></a>
		</div>
	</div>
	<% } %>

  </body>
</html>